audio,
video {
  display: inline-block;
}
video {
  object-fit: contain;
}
img {
  max-width: 100%;
  vertical-align: middle;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;

  font-weight: 700;
  line-height: 1.1;
  color: #f7f9e5;
}
.img-fluid,
.img-thumbnail {
  max-width: 100%;
  height: auto;
}
///////////

.main {
  overflow: scroll;
  overflow-x: hidden;
  padding-top: 60px;
  background-color: #232323;
  color: #f7f7f7;
  font-family: "Vazir";
  width: fit-content;
  &-subhead {
    img {
      width: 65px;
    }
    .special {
      color: #fff100;
    }
  }
}
.smaller {
  width: 85%;
}
.text-center {
  text-align: center;
}
.break {
  margin-top: 4.5rem;
}
.break-after {
  margin-bottom: 4.5rem;
}
.full-width {
  width: 100%;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.justify-content-between {
  justify-content: space-between !important;
}
.justify-content-around {
  justify-content: space-around;
}
.justify-content-center {
  justify-content: center !important;
}
.centered {
  text-align: center;
}
.home-content {
  max-width: 80%;
  margin: 0 auto;
  @media screen and (max-width: 425px) {
    max-width: 100%;
  }
}
.full-height {
  min-height: 100vh;
}
.title-page {
  min-height: calc(100vh - 58px);
  padding: 0 1rem;
}

.video {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.topper-video {
  width: 100%;
  margin-top: -5px;
  margin-bottom: -10px;
}
.master-video {
  display: block;
  height: 70%;
  margin: 0 auto;
}
.scroll-video-holder {
  display: flex;
}
.kicker {
  font-weight: 100;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
  margin-top: 2rem;
}
.credit {
  font-weight: 200;
  font-size: 0.875rem;
  color: #aaa;
  margin-top: 0.75rem;
}
.scroll-item {
  background-color: #232323;
  width: 100%;
}
.srepgfx {
  &-dek {
    font-size: 1.25rem;
    font-weight: 200;
    text-transform: none;
    &-large {
      font-weight: 200;
      margin-top: 0.25rem;
      margin-bottom: 2rem;
      font-size: 1.25rem;
      line-height: 2.2rem;
      .special {
        color: #fff100;
      }
    }
  }
  &-title {
    text-align: right;
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 0.03rem;
  }
  &-chapter {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 0.8rem;
    margin-top: 0.75rem;
    margin-bottom: 0.25rem;
    text-align: center;
    &-intro {
      font-weight: 300;
      font-size: 1.1rem;
      margin-bottom: 0.5rem;
      text-align: center;
      color: #fff100;
    }
  }
  &-label {
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 0.25rem;
    text-align: center;
  }
  &-sublabel {
    font-weight: 200;
    text-transform: none;
    font-size: 0.9rem;
    line-height: 1.3rem;
  }
}
.break {
  margin-top: 4.5rem;
}
.chapter-img {
  max-width: 40px;
  height: auto;
}
.d-none {
  display: none;
}
.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.d-block {
  display: block !important;
}
.img-fluid,
.img-thumbnail {
  max-width: 100%;
  height: auto;
}
.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
///////////////////////
//media queries
///////////////////////
@media (max-width: 991px) {
  .master-video {
    width: 100%;
  }
}
//بالای تبلت
@media (min-width: 768px) {
  .hidden-md-up {
    display: none !important;
  }
  .d-md-none {
    display: none !important;
  }
  .d-md-block {
    display: block !important;
  }

  .col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-md-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
}

//زیر تبلت
@media (max-width: 767px) {
  .hidden-sm-down {
    display: none !important;
  }
  .break {
    margin-top: 2.5rem;
  }
  .uses-img {
    width: 50%;
  }
  .smaller {
    width: 100%;
  }
  .break-after {
    margin-bottom: 2.5rem;
  }
}

//
@media (max-width: 575px) {
  .hidden-xs-down {
    display: none !important;
  }
  .smaller-image {
    width: 80%;
    margin: 0 auto;
    display: block;
  }
}
@media (min-width: 576px) {
  .hidden-sm-up {
    display: none !important;
  }
  .col-sm-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
}
