.h-card {
  padding: 0 1.5rem;
  width: 33%;
  min-width: 18rem;

  .container {
    margin: 1.5rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: 0.6s ease-in-out;

    .out-div {
      position: absolute;
      z-index: 3;
      width: 200px;
      transition: 0.6s ease-in-out;
      height: 140px;
      top: 30%;
      right: -10%;
      box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.4);
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      padding: 0.4rem 0.6rem;
      justify-content: space-evenly;

      @media screen and (max-width: 1440px) {
        width: 180px;
        transition: 0.6s ease-in-out;
        height: 120px;
        top: 22%;
      }
      @media screen and (max-width: 1366px) {
        width: 160px;
        top: 19%;
      }

      @media screen and (max-width: 1024px) {
        width: 150px;
        top: 17%;
      }
      @media screen and (max-width: 800px) {
        width: 140px;
        height: 110px;
        top: 17%;
      }
      @media screen and (max-width: 425px) {
        width: 170px;
        top: 33%;
      }
      @media screen and (max-width: 375px) {
        width: 160px;
        top: 26%;
      }
      @media screen and (max-width: 320px) {
        width: 140px;
        top: 18%;
      }

      .profile {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        margin-top: 2rem;
        overflow: hidden;
        .img-box {
          width: 2.5rem;
          height: 2.5rem;
          overflow: hidden;
          border-radius: 50%;
          position: absolute;
          top: 0.5rem;
          right: 0.5rem;

          img {
            width: 100%;
            height: 100%;
          }
        }
        .details {
          margin-right: 0.4rem;
          width: 100%;
          h2 {
            color: white;
            font-size: 18px;
            margin: 0;
            margin-bottom: 0.3rem;
            text-align: end;
            @media screen and (max-width: 1440px) {
              font-size: 13px;
            }
            @media screen and (max-width: 800px) {
              font-size: 11px;
            }
          }
        }
        h3 {
          color: white;
          font-size: 14px;
          margin: 0;
          @media screen and (max-width: 1440px) {
            font-size: 13px;
          }
          @media screen and (max-width: 800px) {
            font-size: 11px;
          }
        }
      }
      p {
        font-size: 10px;
        line-height: 16px;
        color: #dcdcdc;
      }
    }
    .top,
    .bottom {
      width: 100%;
    }
    .top {
      background-color: #d8e7ff;
      border-radius: 12px 12px 0 0;
      .fa {
        padding: 12px 12px;
        color: #474747;
      }
      .img-box {
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 12px 12px 0 0;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transform: scale(1);
          transition: 0.6s ease-in-out;
          // * {
          //   transition: all 0.7s;
          // }
        }
      }
    }
    .bottom {
      height: 15rem;
      padding: 1rem;
      color: white;
      border-radius: 0 0 12px 12px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);

      @media screen and (max-width: 1920px) {
        height: 14rem;
      }
      @media screen and (max-width: 1440px) {
        height: 12rem;
      }

      h4 {
        font-family: "EB Garamond", serif;
        font-size: 14px;
        font-weight: 800;
        // letter-spacing: -0.5px;
        padding: 0;
        color: #383838;
      }
      p {
        font-size: 1.3rem;
        line-height: 2.2rem;
        padding: 0 0.3rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
        -webkit-box-orient: vertical;
        @media screen and (max-width: 1920px) {
          font-size: 1.2rem;
          line-height: 1.9rem;
        }
        @media screen and (max-width: 1440px) {
          font-size: 16px;
          line-height: 1.5rem;
        }
        @media screen and (max-width: 1024px) {
          font-size: 13px;
        }
      }
      .levels {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0.4rem;
        .fa {
          color: var(--accent-color);
          cursor: pointer;
        }
        .img-box {
          width: 64px;
          height: 64px;
          border-radius: 32px;
          position: relative;
          display: flex;
          img {
            width: 100%;
            position: absolute;
          }
        }
      }
      .button {
        outline: none;
        height: 2.7rem;
        border-radius: 11px;
        color: white;
        font-size: 100%;
        font-weight: bold;
        border: 1px solid rgba(255, 255, 255, 0.4);
        -webkit-backdrop-filter: blur(2px);
        backdrop-filter: blur(2px);
        transition: 0.5s;
        overflow: hidden;

        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 1rem;
        position: relative;
        margin-bottom: 1rem;
      }
      .button:hover {
        text-decoration: none;
        color: var(--accent-color);
        border-color: var(--accent-color);
      }
      .button::before {
        content: "";
        position: absolute;
        left: 26px;
        width: 50px;
        height: 100%;
        background: rgba(255, 255, 255, 0.5);
        transform: skewX(45deg) translateX(150px);
        transition: 0.5s;
      }

      .desc {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        .text {
          position: absolute;
        }
      }
    }
  }

  @media screen and (max-width: 425px) {
    width: 90%;
  }
}
.container:hover .top .img-box img {
  transform: scale(1.2);
}

.container:hover .out-div {
  transform: translateX(-20px);
}
.container:hover .bottom .button::before {
  transform: skewX(45deg) translateX(-150px);
}
