.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.2);
  width: 23%;
  min-height: 100%;
  height: auto;
  padding: 2rem 0;
  padding-top: 1rem;
  position: relative;
}

.sidebar-menu {
  padding: 0;
}

.sidebar-menu .menu-items {
  list-style: none;
}

.sidebar-menu .menu-links {
  font-size: 0.8rem;
  display: block;
  text-decoration: none;
  padding: 0.8rem 0;
  padding-right: 1rem;
  color: #fff;
  font-weight: 700;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.sidebar-menu .menu-links:hover {
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
  background-color: var(--secondari-color-normal);
  color: #515151;
}

.sidebar-logo {
  width: fit-content;
  margin: 0 auto;
  width: 30%;
}
.sidebar-logo .logo {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  height: 100%;
  svg {
    width: 100%;
  }
}
#sidebar-logo-text {
  width: max-content;
  margin: 0;
  font-size: 80%;
  font-weight: bold;
  text-align: center;
  margin-top: -2rem;
}
.sidebar-social {
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 2;
  height: 4em;
  width: 100%;
}

.sidebar-social .social-items {
  position: relative;
  list-style: none;
  margin: 3px;
  width: 25%;
  width: 2em;
  height: 2em;
}

.sidebar-social .social-links {
  position: relative;
  width: 100%;
  height: 100%;
  display: inline-block;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 2em;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  transition: 0.5s;
  overflow: hidden;
}
.sidebar-social .social-links:hover {
  transform: translateY(-10px);
}
.btn-group1 {
  padding-bottom: 0.7em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mob-menu-items {
  margin-left: 0.3em;
}

.navbtn {
  /* background-color:var( --secondari-color-normal); */
  border: 1px;

  font-weight: 700;
  font-size: 16px;
  color: lightslategray;
  border-radius: 0.2em;
  padding: 10px 10px 10px 10px;
  margin-top: 2px;
  cursor: pointer;
}

.mob-menu-items {
  background-color: lightslategray;
  border: 1px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  border-radius: 0.2em;
  padding: 10px 10px 10px 10px;
  margin-top: 2px;
  cursor: pointer;
}

.navbtn:hover {
  background-color: var(--secondari-color-normal);
  color: lightslategray;
}

li.active {
  background-color: var(--secondari-color-normal);
  color: lightslategray !important;
}

a.active {
  background-color: var(--secondari-color-normal);
  color: lightslategray !important;
}

//////////////////
@media screen and (max-width: 1440px) {
  .sidebar {
    width: 26%;
    padding-top: 3rem;
  }
  .sidebar-logo {
    width: 40%;
  }
  #sidebar-logo-text {
    font-size: 100%;
  }
  .sidebar-social {
    font-size: 90%;
  }
  .menu-links {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 1366px) {
  .sidebar-social {
    font-size: 80%;
  }
}
@media screen and (max-width: 1280px) {
  .sidebar {
    width: 30%;
  }
}
@media screen and (max-width: 1024px) {
  .sidebar {
    padding-top: 3rem;
  }
  #sidebar-logo-text {
    font-size: 90%;
    margin-top: -3rem;
  }
}

@media screen and (max-width: 800px) {
  .sidebar {
    display: block;
    width: 100%;
    text-align: center;
    padding: 0.75rem 0;
    background-color: black;
    z-index: 10;
    width: 100%;
  }
  #sidebar-logo-text {
    font-size: 150%;
    margin-top: -2rem;
    width: 100%;
  }
  .sidebar-social {
    width: fit-content;
    display: flex;
    margin: 0 auto;
  }
  .sidebar-social .social-items {
    width: 36px;
    height: max-content;
  }
  .sidebar-menu {
    display: none;
  }

  .btn-group1 {
    display: block !important;
  }
  .sidebar-logo,
  .sidebar-menu {
    margin: 0 auto 1rem auto;
  }
  .sidebar-social .social-icons {
    color: white;
  }
}
@media screen and (max-width: 425px) {
  .sidebar-logo {
    width: 20%;
  }
  #sidebar-logo-text {
    font-size: 80%;
    margin-top: -3.5rem;
  }
}
@media screen and (max-width: 320px) {
  #sidebar-logo-text {
    font-size: 70%;
    margin-top: -4rem;
  }
}
