#discus-alert {
  color: var(--dark-text);
  position: absolute;
  z-index: 3;
  // bottom: -11rem;
  background-color: white;
  padding: 1rem;
  line-height: 190%;
}
.post-page-content {
  position: relative;
  padding: 4rem 1rem 0 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: fit-content;
  overflow: auto;
  padding-bottom: 2rem;
  @media screen and (max-width: 800px) {
    overflow: unset;
  }
}
.post-content {
  padding: 0 1rem 2rem;
  padding-bottom: 0rem;
  font-size: 2.3rem;
  line-height: 90%;
  img {
    width: 80%;
    margin: 2rem auto;
    display: block;
  }
}
.site-image {
  width: 50%;
  margin: 3rem auto;
  @media screen and (max-width: 425px) {
    width: 90%;
  }
}
#post-page-refrence {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: white;
  a {
    margin: 0 0.5rem;
  }
}
